@{
	ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="row">

	<div class="col-12 d-flex justify-content-center">
		<div class="blank col-md-8 col-lg-6 col-xl-5">
			<div class="card overflow-hidden">
				<div class="card-body">
					<div class="p-2">

						<div class="mb-5 mt-n4">
							<div class="text-center">
								<h2>Forgot Password!</h2>
								<p class="text-muted px-4">For security reasons a link for the password reset, has been send to your email!</p>
							</div>
						</div>

						<div class="mb-3 d-flex justify-content-center">
							<div class="btn-group btn-group-example auth-options" role="group">
								<a href="@Url.Action("SignIn", "Authentication")" class="btn btn-outline-primary w-lg">Sign In</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</div>
