.footer-blank {
    position: absolute;
    bottom: 10px;
    width: 100%;
}


.blank > .card {
    background: rgb(248, 248, 251);
    box-shadow: none;
}


tbody td {
    vertical-align: middle !important;
}

.text-left {
    text-align: left !important;
}