<div class="row">

    <div class="col-12 d-flex justify-content-center">
        <div class="btn-group btn-group-example mb-3" role="group">

            @if (this.User.Identity != null && this.User.Identity.IsAuthenticated)
            {
                <a href="@Url.Action("Index", "Profile")" class="btn btn-outline-primary w-lg">Profile</a>

                @if (this.User.IsInRole(IdentityProviderConstants.OperatorRole))
                {
                    <a class="btn btn-outline-primary w-lg">Control Panel</a>
                }

                <a href="@Url.Action("SignOut", "Auth")" class="btn btn-outline-danger w-lg">SignOut</a>
            }
            else
            {
                <a href="@Url.Action("SignIn", "Auth")" class="btn btn-outline-primary w-md">SignIn</a>
                <a href="@Url.Action("SignUp", "Auth")" class="btn btn-outline-primary w-md">SignUp</a>
            }
        </div>
    </div>

</div>

<div class="row mt-5">

    <div class="col-12 d-flex justify-content-center">
        <div class="blank col-md-8 col-lg-6 col-xl-5">
            <div class="card overflow-hidden">
                <div class="card-body">
                    <div class="p-2">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
