<!doctype html>
<html lang="en">

<head>
    <!-- Meta section -->
    <partial name="_MetaPartial" />

    <title>
        @(ViewBag.Title == null ? "Aegis" : ViewBag.Title + " | Aegis")
    </title>

    <!-- CSS section -->
    <partial name="_CssPartial" />
    @RenderSection("styles", required: false)

</head>

<body>

    <!-- Content -->
    <div id="layout-wrapper">

        <!-- Nav Bar -->
        <partial name="_NavBarPartial.cshtml" />

        <!-- Main -->
        <div class="container-fluid">

            @RenderBody()
        </div>

        <!-- Footer -->
        <partial name="_FooterPartial" />

    </div>
    <!-- END Content -->

    <!-- JS section -->
    <partial name="_JsPartial" />
    @await RenderSectionAsync("scripts", required: false)

</body>
</html>