<!doctype html>
<html lang="en">

<head>
    <!-- Meta section -->
    <partial name="_MetaPartial" />

    <title>
        @(ViewBag.Title == null ? "Aegis" : ViewBag.Title + " | Aegis")
    </title>

    <!-- CSS section -->
    <partial name="_CssPartial" />
    @RenderSection("styles", required: false)

</head>

<body>

    <!-- Content -->
    <div id="layout-wrapper">

        <!-- Top Bar -->
        <partial name="_TopBarPartial.cshtml" />

        <!-- Side Bar -->
        <partial name="_SideBarPartial.cshtml" />

        <!-- Main -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <partial name="_BreadcrumbPartial.cshtml" />

                    @RenderBody()
                </div>
            </div>

            <!-- Footer -->
            <partial name="_AdminFooterPartial" />

        </div>
        <!-- END Main -->

    </div>
    <!-- END Content -->
    <!-- JS section -->
    <partial name="_JsPartial" />
    @await RenderSectionAsync("scripts", required: false)

</body>
</html>